{% extends "coworkersimpaqto/base.html" %}
{% block navigationblock %}
<nav class="navbar navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a href="{% url 'index' %}" class="navbar-brand">ImpaqQTO</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">                  
            <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Administración General <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{% url 'coworker.listado' %}">Coworkers</a></li>
                    <li><a href="{% url 'membresia.listado' %}">Planes</a></li>
                    <li><a href="{% url 'contrato.listado' %}">Vender Planes</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Sistema <span class="caret"></span></a>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="{% url 'accounts.listado.userprofile' %}">Usuarios</a></li>
                </ul>
            </li>

        </ul>
        
        <ul class="nav navbar-top-links navbar-right">
            
                {% if user.is_authenticated %}
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Bienvenido {{user.username}}</span>
                    </li>
                    <li>
                        <a href="{% url 'accounts.logout' %}">
                            <i class="fa fa-sign-out"></i> Salir
                        </a>
                    </li>
                {% else %}
                    <li>
                        <span class="m-r-sm text-muted welcome-message">Bienvenido, nuevo usuario, por favor Ingresa al sistema.</span>
                    </li>
                {%endif%}
        </ul>
        
    </div>
</nav>
{% endblock %}

{% block containerblock%}
{% endblock %}
    
{% block footerblock %}
    {% include "coworkersimpaqto/includes/footer.html" %}
{% endblock %}